<%@title="About"%>
  <div class="row">
    <div class="large-7 columns panel-2">
    	      <%=image_tag "sample1.png"%>
    </div>
    <div class="large-5 columns">
      <div class="panel">
      Located in "The City of Oaks", Raleigh, NC, Something With Wood is dedicated to creating jewelry and wooden home goods inspired by craft beer. <br/><br/>
      
      We also build custom furniture using only quality materials.
      </div>
    </div>
  </div>
    <div class="row"><div class="large-3 columns">&nbsp;</div>
         <div class="large-6 columns"><%=image_tag "slogan.png"%></div>
         <div class="large-3 columns"></div>
  </div>
 
